Source: linux-sunxi
Section: kernel
Priority: optional
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Uploaders: Bastian Blank <waldi@debian.org>, Frederik Schüler <fs@debian.org>, maximilian attems <maks@debian.org>, Ben Hutchings <ben@decadent.org.uk>
Standards-Version: 3.9.2
Build-Depends: debhelper (>> 7), cpio, kmod | module-init-tools, python (>= 2.6.6-3~), lzma [armel], kernel-wedge (>= 2.84), quilt, patchutils, gcc-4.6 [armhf]
Build-Depends-Indep: bzip2, xmlto
Vcs-Svn: svn://svn.debian.org/svn/kernel/dists/trunk/linux/
Vcs-Browser: http://anonscm.debian.org/viewvc/kernel/dists/trunk/linux/

Package: linux-source-3.0
Architecture: all
Section: kernel
Provides: linux-source
Depends: binutils, bzip2, ${misc:Depends}
Recommends: libc6-dev | libc-dev, gcc, make
Suggests: libncurses-dev | ncurses-dev, libqt4-dev, pkg-config
Description: Linux kernel source for version 3.0 with Debian patches
 This package provides source code for the Linux kernel version 3.0. This
 source closely tracks official Linux kernel releases.  Debian's
 modifications to that source consist of security fixes, bug fixes, and
 features that have already been (or are believed to be) accepted by the
 upstream maintainers.
Multi-Arch: ${linux:Multi-Arch}

Package: linux-doc-3.0
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Linux kernel specific documentation for version 3.0
 This package provides the various README files and HTML documentation for
 the Linux kernel version 3.0.  Plenty of information, including the
 descriptions of various kernel subsystems, filesystems, driver-specific
 notes and the like.  Consult the file
 /usr/share/doc/linux-doc-3.0/Documentation/00-INDEX for the detailed
 description of the contents.
Multi-Arch: ${linux:Multi-Arch}

Package: linux-manual-3.0
Architecture: all
Section: doc
Provides: linux-manual
Depends: ${misc:Depends}
Replaces: linux-manual
Conflicts: linux-manual
Description: Linux kernel API manual pages for version 3.0
 This package provides the Kernel Hacker's Guide in the form of manual
 pages, describing the kernel API functions.  They are installed into
 section 9 of the manual.
 .
 As the files containing manual pages for different kernel versions are
 installed in the same location, only one linux-manual package may be
 installed at a time.  The linux-doc package containing the documentation
 in other formats is free from such restriction.
Multi-Arch: ${linux:Multi-Arch}

Package: linux-support-3.0.0-4.sunxi.1
Architecture: all
Section: devel
Depends: ${python:Depends}, ${misc:Depends}
Description: Support files for Linux 3.0
 This package provides support files for the Linux kernel build, e.g.
 scripts to handle ABI information and for generation of build system meta
 data.
Multi-Arch: ${linux:Multi-Arch}

Package: linux-libc-dev
Architecture: armhf
Section: devel
Provides: linux-kernel-headers
Depends: ${misc:Depends}
Replaces: linux-kernel-headers
Conflicts: linux-kernel-headers
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These
 headers are used by the installed headers for GNU libc and other system
 libraries.
Multi-Arch: ${linux:Multi-Arch}

Package: linux-headers-3.0.0-4.sunxi.1-all
Architecture: armhf
Depends: linux-headers-3.0.0-4.sunxi.1-all-${kernel:Arch} (= ${binary:Version}), ${misc:Depends}
Description: All header files for Linux 3.0 (meta-package)
 This package depends against all architecture-specific kernel header files
 for Linux kernel version 3.0, generally used for building out-of-tree
 kernel modules.

Package: linux-headers-3.0.0-4.sunxi.1-all-armhf
Architecture: armhf
Depends: ${misc:Depends}, linux-headers-3.0.0-4.sunxi.1-sun4i (= ${binary:Version})
Description: All header files for Linux 3.0 (meta-package)
 This package depends against all architecture-specific kernel header files
 for Linux kernel version 3.0, generally used for building out-of-tree
 kernel modules.

Package: kernel-image-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: kernel-image, rtc-modules
Description: Linux kernel binary image for the Debian installer
 This package contains the kernel image for the Debian installer boot
 images.  It does _not_ provide a usable kernel for your full Debian
 system.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: nic-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: nic-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, nic-shared-modules-3.0.0-4.sunxi.1-mx5-di, core-modules-3.0.0-4.sunxi.1-mx5-di
Description: Common NIC drivers
 This package contains common NIC drivers for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: nic-shared-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: nic-shared-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Shared NIC drivers
 This package contains NIC drivers needed by combinations of nic-modules,
 nic-extra-modules, nic-pcmcia-modules, and nic-wireless-modules.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: scsi-core-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: scsi-core-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Core SCSI subsystem
 This package contains the core SCSI subsystem for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: loop-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: loop-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Loopback filesystem support
 This package contains loopback filesystem support for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: ipv6-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: ipv6-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: IPv6 driver
 This package contains the IPv6 driver for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: btrfs-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: btrfs-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, core-modules-3.0.0-4.sunxi.1-mx5-di, crc-modules-3.0.0-4.sunxi.1-mx5-di
Description: BTRFS filesystem support
 This package contains the BTRFS filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: ext2-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: ext2-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, core-modules-3.0.0-4.sunxi.1-mx5-di
Description: EXT2 filesystem support
 This package contains the EXT2 filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: ext3-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: ext3-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, core-modules-3.0.0-4.sunxi.1-mx5-di
Description: EXT3 filesystem support
 This package contains the EXT3 filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: ext4-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: ext4-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, core-modules-3.0.0-4.sunxi.1-mx5-di
Description: EXT4 filesystem support
 This package contains the EXT4 filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: isofs-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: isofs-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: ISOFS filesystem support
 This package contains the ISOFS filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: jfs-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: jfs-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: JFS filesystem support
 This package contains the JFS filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: reiserfs-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: reiserfs-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Reiser filesystem support
 This package contains the Reiser filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: fat-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: fat-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: FAT filesystem support
 This package contains the FAT and VFAT filesystem modules for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: minix-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: minix-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Minix filesystem support
 This package contains the Minix filesystem module for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: md-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: md-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: RAID and LVM support
 This package contains RAID and LVM modules for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: multipath-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: multipath-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, md-modules-3.0.0-4.sunxi.1-mx5-di, scsi-core-modules-3.0.0-4.sunxi.1-mx5-di
Description: Multipath support
 This package contains DM-Multipath modules for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: usb-storage-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: usb-storage-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, scsi-core-modules-3.0.0-4.sunxi.1-mx5-di
Description: USB storage support
 This package contains the USB storage driver for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: input-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: input-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Input devices support
 This package contains input device drivers for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: nic-usb-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: nic-usb-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, nic-shared-modules-3.0.0-4.sunxi.1-mx5-di, core-modules-3.0.0-4.sunxi.1-mx5-di
Description: USB NIC drivers
 This package contains USB network adapter drivers for the kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: core-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: core-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Core modules
 This package contains core modules for the kernel, that will almost
 always be needed.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: crc-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: crc-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: CRC modules
 This package contains CRC support modules.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: crypto-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: crypto-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: crypto modules
 This package contains crypto modules.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: crypto-dm-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: crypto-dm-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, md-modules-3.0.0-4.sunxi.1-mx5-di
Description: devicemapper crypto module
 This package contains the devicemapper crypto (dm-crypt) module.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: mmc-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: mmc-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, core-modules-3.0.0-4.sunxi.1-mx5-di
Description: MMC/SD card modules
 This package contains modules needed to support MMC (multimedia) and SD
 cards.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: nbd-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: nbd-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: Network Block Device modules
 This package contains the modules required for support of the Network
 Block Device
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: squashfs-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: squashfs-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: squashfs modules
 This package contains squashfs modules.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: uinput-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: uinput-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: uinput support
 This package contains the uinput module.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: udf-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: udf-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di, crc-modules-3.0.0-4.sunxi.1-mx5-di
Description: UDF modules
 This package contains the UDF filesystem module.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: fuse-modules-3.0.0-4.sunxi.1-mx5-di
Architecture: armhf
Section: debian-installer
Priority: extra
Provides: fuse-modules
Depends: kernel-image-3.0.0-4.sunxi.1-mx5-di
Description: FUSE modules
 This package contains the Filesystem in Userspace (FUSE) module.
XC-Package-Type: udeb
XB-Kernel-Version: 3.0.0-4.sunxi.1-mx5

Package: linux-headers-3.0.0-4.sunxi.1-common
Architecture: armhf
Depends: ${misc:Depends}
Description: Common header files for Linux 3.0.0-4.sunxi.1
 This package provides the architecture-specific common kernel header files
 for Linux kernel version 3.0.0-4.sunxi.1, generally used for building
 out-of-tree kernel modules.  To obtain a complete set of headers you also
 need to install the linux-headers-3.0.0-4.sunxi.1-(flavour) package,
 matching the flavour of the kernel you intend the build for.

Package: linux-image-3.0.0-4.sunxi.1-sun4i
Architecture: armhf
Provides: linux-image, linux-modules-3.0.0-4.sunxi.1-sun4i
Pre-Depends: debconf | debconf-2.0
Depends: kmod | module-init-tools, linux-base (>= 3~), ${misc:Depends}, initramfs-tools (>= 0.99~) [armhf] | linux-initramfs-tool [armhf]
Recommends: firmware-linux-free (>= 3~), uboot-mkimage [armhf]
Suggests: linux-doc-3.0, debian-kernel-handbook, fdutils [armhf]
Breaks: at (<< 3.1.12-1+squeeze1), initramfs-tools (<< 0.99~)
Description: Linux 3.0 for Allwinner A10
 The Linux kernel 3.0 and modules for use on Allwinner A10 based (cubie).

Package: linux-headers-3.0.0-4.sunxi.1-sun4i
Architecture: armhf
Provides: linux-headers
Depends: linux-headers-3.0.0-4.sunxi.1-common (= ${binary:Version}), linux-kbuild-3.0, ${misc:Depends}, gcc-4.6
Description: Header files for Linux 3.0.0-4.sunxi.1-sun4i
 This package provides the architecture-specific kernel header files for
 Linux kernel 3.0.0-4.sunxi.1-sun4i, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-3.0.0-4.sunxi.1-sun4i, and can be used for building
 modules that load into the kernel provided by the
 linux-image-3.0.0-4.sunxi.1-sun4i package.

